{% extends 'Front/base.html.twig' %}

{% block title %}Category detail{% endblock %}

{% block main %}
    <div class="container">
        {%  include ':Front/Fragments:blog_heading_image.html.twig' %}
        <div class="row">
            <div class="col-md-12">
                <h1>Detail of Category</h1>
                    <h3>{{ category.title }}</h3>
                {% for post in category.posts %}
                    <h4>{{ post.title }}</h4>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
