{% extends 'Front/Blog/blog.html.twig' %}

{% block title %}Category detail{% endblock %}

{% block categories %}
    {% for category in categories %}
        {% if category.posts | length > 0 %}
            <a href="{{ path('category_detail', {slug: category.slug}) }}"{% if category.id == selectedCategory.id %} class="badge"{% endif %}>{{ category.title }}</a>
        {% endif %}
    {% endfor %}
{% endblock %}
