{% extends "Front/Blog/blog.html.twig" %}

{% block title %}{{ selectedCategory.title }} · {{ parent() }}{% endblock %}

{% block categories %}
    <ul class="list-unstyled">
        {% for category in categories %}
            {% if category.posts | length > 0 %}
                <li{% if category.id == selectedCategory.id %} class="active"{% endif %}>
                    <a href="{{ path('category_detail', {slug: category.slug}) }}">{{ category.title }}</a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
{% endblock %}
