{% extends 'Front/base.html.twig' %}

{% block title %}List of Titles{% endblock %}

{% block main %}
<div class="container">
    {%  include ':Front/Fragments:blog_heading_image.html.twig' %}
    <div class="row">
        <div class="col-md-12">
            <h1>List of Categories</h1>
            {% for category in categories %}
                <a href="{{ path('category_detail', {slug: category.slug}) }}">{{ category.title }}</a>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
