{% block body %}
    <h1>Gràcies per contactar amb nosaltres!</h1>
    <p>
        Hem rebut la teva consulta:<br><br>
        <em>"{{ contact.message | raw }}"</em><br><br>
    </p>
    <br>
    <br>
    <p>Respondrem el més aviat possible. Seguim en contacte.</p>
{% endblock %}
