{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    {% spaceless %}
        {% if object.type == 'HOUR_GROUP' %}
            <span class="label label-primary">grup</span>
        {% elseif object.type == 'HOUR_SINGLE'%}
            <span class="label label-warning">particular</span>
        {% else %}
            <span class="label label-danger">???</span>
        {% endif %}
    {% endspaceless %}
{% endblock %}
