{% if object.receipts %}
    <a class="btn btn-sm btn-default" href="{{ admin.generateObjectUrl('receipt', object) }}" title="{{ 'backend.admin.receipt' | trans }}"><i class="fa fa-pencil-square-o"></i> {{ 'backend.admin.receipt' | trans }}</a>
{% endif %}
