{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    {% spaceless %}
        {% if object.type == 'HOUR_GROUP' %}
            <span class="label label-primary">hora en grup</span>
        {% else %}
            <span class="label label-warning">hora particular</span>
        {% endif %}
    {% endspaceless %}
{% endblock %}
