/app/bootstrap.php.cache
/app/config/parameters.yml
/app/config/deploy.rb
/app/cache/*
!app/cache/.gitkeep
/app/database/*
!/app/database/.gitkeep
/app/logs/*
!app/logs/.gitkeep
/app/phpunit.xml
/bin/
/composer.phar
/vendor/
/web/bundles/
/web/assetic/*
/web/css/*
!/web/css/.gitkeep
/web/js/*
!/web/js/.gitkeep
/web/media/*
!/web/media/.gitkeep
/web/uploads/*
!/web/uploads/.gitkeep
/web/images/*
!/web/images/.gitkeep
/.idea
/Capfile
/dbreset.sh
/test.sh
/backups/
!/.travis.yml
