{% extends 'base.html.twig' %}

{% block title %}List of Posts{% endblock %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>List of Posts</h1>
                {% for post in posts %}
                    <h3>{{ post.title }}</h3>
                    <p>{{ post.description | truncate(50) }}</p>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
