{% extends 'base.html.twig' %}

{% block main %}
    <div class="menu" id="menu">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Pas a Repàs</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="#courses">classes de repàs</a></li>
                        <li><a href="#about">sobre mi</a></li>
                        <li><a href="#contact">contacte</a></li>
                        <li><a href="#location">localització</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div id="courses" class="courses text-center row">
        <div class="col-md-12">
            <h2>CLASSES DE REPÀS</h2>
            <ul class="nav nav-pills" role="tablist">
                <li role="presentation" class="active"><a href="#">Primària</a></li>
                <li role="presentation"><a href="#">ESO</a></li>
                <li role="presentation"><a href="#">Batxillerat</a></li>
                <li role="presentation"><a href="#">Selectivitat</a></li>
                <li role="presentation"><a href="#">Universitat</a></li>
            </ul>
        </div>
    </div>
    <div id="about" class="about text-center row">
        <div class="col-md-12">
            <h2>SOBRE MI</h2>
            <p>{{ sentences(4) }}</p>
        </div>
    </div>
    <div id="contact" class="contact text-center row">
        <div class="col-md-12">
            <h2>CONTACTE</h2>
            <p>{{ sentences(2) }}</p>
        </div>
    </div>
    <div id="location" class="location text-center row">
        <div class="col-md-12">
            <h2>LOCALITZACIÓ</h2>
            <div class="google.maps.MVCObject">
                <div class="col-xs-12"></div>
            </div>
        </div>
    </div>
    <div class="footer">
        FOOTER
    </div>
{% endblock %}
