<div class="row">
    <div class="col-md-12">
        <img src="{{ asset('bundles/app/images/blog-head.png') | imagine_filter('2400xY') }}" class="img-responsive extra-m-bottom" alt="{{ 'frontend.index.main.image' | trans | capitalize }}">
    </div>
</div>
