<div class="row bc-lviolet">
    <img src="{{ asset('bundles/app/images/blog-head.png') | imagine_filter('2400xY') }}" class="img-responsive center-block" alt="{{ 'frontend.index.main.image' | trans | capitalize }}">
</div>
