parameters:
    database_driver:   pdo_sqlite
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~
    database_path: "%kernel.root_dir%/database/data.db3"
    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_destination: dummy@dummy.com
    mailer_password:   ~
    mailer_delivery_dev:   ~
    secret:            ThisTokenIsNotSoSecretChangeIt
    google_analytics_enabled:   false
    google_analytics_account:   "UA-xxxxxxxx-x"
    assetic_path_java:         /usr/bin/java
    assetic_path_node:         /usr/bin/nodejs
    assetic_path_node_modules: /home/<user>/node_modules
    admin_user: ~
    admin_password: ~
