{% extends 'SonataAdminBundle:CRUD:base_show.html.twig' %}

{% block title %}
    {% if admin.id(object) is not null %}
        {{ "title_edit" | trans({'%name%': admin.toString(object) }, 'SonataAdminBundle') }}
    {% else %}
        {{ "title_create" | trans({}, 'SonataAdminBundle') }}
    {% endif %}
{% endblock%}

{% block actions %}
    {{ parent() }}
    <li>{% include '::Admin/Buttons/answer_button.html.twig' %}</li>
    <li>{% include '::Admin/Buttons/create_receipt.html.twig' %}</li>
{% endblock %}
