{% if admin.hasroute('answer') and admin.id(object) and admin.isGranted('ANSWER', object) %}
    <a class="sonata-action-element" href="{{ admin.generateObjectUrl('answer', object) }}"><i class="fa fa-envelope-o"></i> Respon</a>
{% endif %}
