{% extends 'base_admin.html.twig' %}

{% block main -%}
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <h1>{{ 'frontend.admin.category_creation' |trans |upper }}</h1>

                {{ form(form) }}

                <ul class="record_actions">
                    <li>
                        <a href="{{ path('admin_category') }}">
                            {{ 'frontend.admin.back-list' |trans |capitalize }}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
