{% extends 'base.html.twig' %}

{% block main -%}
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <h1>Post creation</h1>

                {{ form(form) }}

                <ul class="record_actions">
                    <li>
                        <a href="{{ path('admin_post') }}">
                            Back to the list
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
