// Imports
@import "../../../../../vendor/twbs/bootstrap/less/bootstrap.less";
@import "../../../../../vendor/components/font-awesome/less/font-awesome.less";

// Variables
@magenta: #CD5599;
@cyan:    #40B4E5;
@wine:    #782C63;
@violet:  #62259D;
@lviolet: #8E64A7;
@grey:    #9FA1A1;
@lgrey:   #F0F1F2;
@white:   #FFFFFF;
@black:   #222222;
@gap-extra: 40px;

// Fonts
@fa-font-path: "/bundles/app/fonts";
@font-face {
  font-family: 'pluto';
  src:url('@{fa-font-path}/PlutoSansRegular.eot');
  src:url('@{fa-font-path}/PlutoSansRegular.eot?#iefix') format('embedded-opentype'),
  url('@{fa-font-path}/PlutoSansRegular.ttf') format('truetype'),
  url('@{fa-font-path}/PlutoSansRegular.woff') format('woff'),
  url('@{fa-font-path}/PlutoSansRegular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'plutobold';
  src:url('@{fa-font-path}/PlutoSansBold.eot');
  src:url('@{fa-font-path}/PlutoSansBold.eot?#iefix') format('embedded-opentype'),
  url('@{fa-font-path}/PlutoSansBold.ttf') format('truetype'),
  url('@{fa-font-path}/PlutoSansBold.woff') format('woff'),
  url('@{fa-font-path}/PlutoSansBold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-family-sans-serif: "pluto", "Helvetica Neue", Helvetica, Arial, sans-serif;
@text-color: @grey;

// Navbar
@navbar-height: 90px;
@navbar-default-border: @grey;
@navbar-default-color: transparent;
@navbar-default-bg: @white;
@navbar-default-brand-color: @grey;
@navbar-default-link-color: @grey;
@navbar-default-link-active-color: @cyan;
@navbar-default-link-hover-color: @magenta;
@navbar-default-link-active-bg: transparent;
nav.my-nav {
  a.navbar-brand { margin-top: -20px; }
  div.navbar-collapse.collapse.float-right { float: right; }
  div#navbar { padding-right: 15px; }
}
@media (min-width: @screen-sm) {
  .navbar-nav > li > a {
    padding-top: 58px;
    padding-bottom: 20px;
  }
}

// Link
@link-color: @magenta;
@link-hover-color: darken(@link-color, 15%);

// Colors
.c-magenta  { color: @magenta }
.c-cyan     { color: @cyan }
.c-wine     { color: @wine }
.c-violet   { color: @violet }
.c-lviolet  { color: @lviolet }
.c-grey     { color: @grey }
.c-white    { color: @white }
.c-black    { color: @black }
.bc-magenta { background-color: @magenta }
.bc-cyan    { background-color: @cyan }
.bc-wine    { background-color: @wine }
.bc-violet  { background-color: @violet }
.bc-lviolet { background-color: @lviolet }
.bc-grey    { background-color: @grey }
.bc-white   { background-color: @white }
.bc-black   { background-color: @black }

// Body
body.my-body {
  margin-top: 70px;
  position: relative;
}

// Strongs
strong {
  font-family: "plutobold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
}

// Textarea
textarea { resize: vertical; }

// Address
address { line-height: 1.65; }

// Gaps
.no-m { margin: 0; }
.no-m-top { margin-top: 0; }
.no-m-bottom { margin-bottom: 0; }
.extra-m-top { margin-top: @gap-extra; }
.extra-m-bottom { margin-bottom: @gap-extra; }
.no-h-padding {
  padding-left: 0;
  padding-right: 0;
}

// Clean ups
.no-overflow { overflow: hidden; }
.no-underline {
  text-decoration: none;
  &:hover { text-decoration: none; }
}
.d-block { display: block; }

// Buttons
.btn-violet {
  color: @white;
  background-color: @violet;
  border-color: @lviolet;
  &:hover {
    color: @white;
    background-color: @lviolet;
  }
}

// Captions
.my-carousel-caption {
  position: absolute;
  left: 5%;
  right: 5%;
  top: 0;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #ffffff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}

// Customs
h2.my-h2 {
  margin: 70px 0;
  font-size: 24px;
  &.c-white { color: @white; }
}
.google-maps-container { height: 400px; }
.banner-service {
  line-height: 1.65;
  min-height: 343px;
  margin-bottom: 0;
  padding: 70px;
  &.sobre-mi { padding: 0 20px 70px 20px; }
}
div.navbar ul.nav.nav-justified {
  li {
    i {
      display: block;
      margin-bottom: 10px;
      &.icon-arrow { margin: 0 }
    }
    .current-mark {
      visibility: hidden;
      margin-top: 5px;
      display: block;
    }
    a.c-magenta:hover, a.c-magenta:focus { color: @magenta }
    a.c-cyan:hover,    a.c-cyan:focus    { color: @cyan }
    a.c-wine:hover,    a.c-wine:focus    { color: @wine }
    a.c-violet:hover,  a.c-violet:focus  { color: @violet }
    a.c-lviolet:hover, a.c-lviolet:focus { color: @lviolet }
    &.active { background-color: #EEE }
    &.active, & a:hover {
      //background-color: transparent;
      .current-mark {
        visibility: visible;
        //margin-top: 20px;
        //display: block;
      }
    }
  }
}
p.text-center.contacte { margin: 0 0 40px 0; }
.blog-categories {
  h3 { margin-top: 0; }
  ul.list-unstyled {
    margin-bottom: 0;
    li {
      padding: 10px;
      border-bottom: solid 1px @grey;
      a { color: @grey; }
      &.active {
        border-bottom: solid 1px @cyan;
        a { color: @cyan; }
      }
      &:hover a {
        color: @magenta;
        text-decoration: none;
      }
    }
  }
}

// Thumbnails
@thumbnail-padding: 0;
@thumbnail-bg: @lgrey;
@thumbnail-border: @lgrey;
@thumbnail-border-radius: 10px;
@thumbnail-caption-padding: 40px;

// Scroll to top helper
.scroll-top-wrapper {
  position: fixed;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  text-align: center;
  z-index: 2000;
  background-color: @grey;
  color: @white;
  width: 50px;
  height: 48px;
  line-height: 48px;
  right: 15px;
  bottom: 15px;
  padding-top: 2px;
  border-radius: 4px;
  .transition (all 0.5s ease-in-out);
  &.show {
    visibility: visible;
    cursor: pointer;
    opacity: 0.85;
  }
  i.fa { line-height: inherit; }
}

// Footer
footer {
  color: @white;
  background-color: @black;
  padding: 40px 0;
  a {
    color: @white;
    text-decoration: none;
    &:hover {
      color: @white;
      text-decoration: underline;
    }
  }
  a.btn { text-decoration: none; }
}
