{% extends sonata_block.templates.block_base %}

{% block block %}
    {% if is_granted('ROLE_ADMIN') %}
        <div class="box box-success">
            <div class="box-header">
                <h3 class="box-title">
                    <i class="fa fa-bar-chart"></i>
                    Fins ara t'han pagat {{ graphs }} alumnes
                </h3>
            </div>
        </div>
    {% endif %}
{% endblock %}
